# Server Configuration
PORT=8080
GO_ENV=development
DB_HOST=localhost
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=adminpassword
DB_NAME=taskflow_jobs

REDIS_URI=redis://localhost:6381

JWT_SECRET=your_super_secret_access_key_12345

AUTH_SERVICE_GRPC_ADDR=localhost:50051

KAFKA_BROKERS=localhost:9092

TEMPORAL_HOST=localhost:7233

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
FROM=
PASSWORD=

OTEL_EXPORTER_OTLP_ENDPOINT=
SERVICE_NAME=workspace-service

FRONTEND_URL=localhost:3000