# Application Configuration
NODE_ENV=production
PORT=5001

MONGO_URI=mongodb://localhost:27018/taskflow-notification
JWT_SECRET=your_super_secret_access_key_12345
REDIS_URI=redis://localhost:6382

AUTH_SERVICE_GRPC_ADDRESS=0.0.0.0:50051

KAFKA_BROKERS=localhost:9092

AUTH_PROTO_PATH=../../../../shared-proto/auth/auth.proto

OTEL_EXPORTER_OTLP_ENDPOINT=
SERVICE_NAME=notification-service