NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://localhost:27018/taskflow-auth

REDIS_URI=redis://localhost:6380

JWT_ACCESS_SECRET=your_super_secret_access_key_12345
JWT_REFRESH_SECRET=your_super_secret_refresh_key_67890

AUTH_SERVICE_GRPC_ADDR=0.0.0.0:50051

KAFKA_BROKERS=localhost:9092

AUTH_PROTO_PATH=../../../../shared-proto/auth/auth.proto